html {
    font-family: 'Outfit', sans-serif;
    height: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center
}

.text h2 {
    font-weight: 700;
}

p {
    font-size: 15px;
}

.first {
    background-color: white;
    width: 300px;
    box-shadow: 3px 11px 12px 0px rgba(0, 0, 0, 10%);
    padding: 15px;
    border-radius: 15px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.text {
    text-align: center;
}